article#main_contents section h1 {
    background: transparent url(../images/product/product_title.png) no-repeat 0px 0px;
}

article#main_contents section div {
    width: 640px;
    height: 340px;
    margin: 0px 0px 0px auto;
    padding: 0px;
    text-align: left;
    position: relative;
}

article#main_contents section div img#icon {
    margin: 0px 33px 0px 0px;
    display: block;
    float: left;
}

article#main_contents section div ul#infomation {
    width: 430px;
    margin: 16px 0px 70px 0px;
    padding: 0px;
    list-style: none;
    float: left;
}

article#main_contents section div ul#infomation li {
    margin: 0px 0px 2px 0px;
    padding: 0px;
    font-size: 12px;
    color: #333;
}

article#main_contents section div p.thumbs {
    margin: 0px 0px 30px 0px;
    padding: 0px;
    list-style: none;
    text-align: center;
    float: none;
    clear: both;
}

article#main_contents section div p.thumbs img {
    margin: 0px 11px 0px 0px;
    padding: 0px;
}

article#main_contents section div p.thumbs img#thumb_06 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

article#main_contents section div ul#infomation li ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    top: -19px;
    left: 58px;
    
}

article#main_contents section div ul#infomation li ul li {
    margin: 0px;
    padding: 0px;
}